.container {
    font-size: .875rem;
}

.coinsList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.coinsList button {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #f0ad4e90; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.coinsList button:hover {
    background-color: #f0ad4e!important; 
}